ipv6 unicast-routing
{% for interface in device.infrastructure_interfaces %}
interface {{ interface }}
   ipv6 enable
{% endfor %}
router isis ISIS_BASE
   net {{ isis_net }}
   !
   address-family ipv6 unicast
   !