router isis ISIS_BASE
   net {{ isis_net }}
   !
   address-family ipv4 unicast
   !
   segment-routing mpls
      no shutdown
interface Loopback0
   isis instance ISIS_BASE
   isis passive
interface Ethernet1
   isis enable ISIS_BASE
   isis network point-to-point
interface Ethernet2
   isis enable ISIS_BASE
   isis network point-to-point
end 
