interface Loopback0
   node-segment ipv4 index 0
   isis instance ISIS_BASE
   isis passive
!
mpls ip
router isis ISIS_BASE
   segment-routing mpls
      no shutdown
!
mpls ldp
   router-id interface Loopback0
   no shutdown
{% for interface in device.infrastructure_interfaces %}
interface {{ interface }}
   mpls ldp interface
{% endfor %}
end